---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/search?client_id=5ERST5JYR5KHBUVZ2FZAGLHRF1APGQJP2NY3QUNPROCHNGW4&client_secret=XFJYQWQTUIUXY2MI4UJESRY2SI0CTIXYMHWB0TN2KWPKUQCZ&ll=40.785091%2C-73.968285&query=Central+Park&radius=5000&v=20180323
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      tracer-time:
      - '83'
      x-ratelimit-path:
      - "/v2/venues/search"
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-reset:
      - '1627133531'
      x-ratelimit-remaining:
      - '4995'
      x-rate-limit-key:
      - 77.246.49.6
      x-ex:
      - fastly_cdn
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200,"requestId":"60fc09ac3c1a622547731e80"},"response":{"venues":[{"id":"412d2800f964a520df0c1fe3","name":"Central
        Park","contact":{},"location":{"address":"59th St to 110th St","crossStreet":"5th
        Ave to Central Park West","lat":40.78307608904521,"lng":-73.96549701690674,"labeledLatLngs":[{"label":"display","lat":40.78307608904521,"lng":-73.96549701690674}],"distance":324,"postalCode":"10028","cc":"US","city":"New
        York","state":"NY","country":"United States","formattedAddress":["59th St
        to 110th St (5th Ave to Central Park West)","New York, NY 10028","United States"]},"categories":[{"id":"4bf58dd8d48988d163941735","name":"Park","pluralName":"Parks","shortName":"Park","icon":{"prefix":"https:\/\/ss3.4sqi.net\/img\/categories_v2\/parks_outdoors\/park_","suffix":".png"},"primary":true}],"verified":true,"stats":{"tipCount":0,"usersCount":0,"checkinsCount":0,"visitsCount":0},"beenHere":{"count":0,"lastCheckinExpiredAt":0,"marked":false,"unconfirmedCount":0},"hereNow":{"count":4,"summary":"4
        people are here","groups":[{"type":"others","name":"Other people here","count":4,"items":[]}]},"referralId":"v-1627130284","venueChains":[],"hasPerk":false},{"id":"4c531929479fc9282b90ee90","name":"Central
        Park West - W 86th St","contact":{},"location":{"address":"Central Park W","crossStreet":"at
        W 86th St","lat":40.78509379386497,"lng":-73.96913409233093,"labeledLatLngs":[{"label":"display","lat":40.78509379386497,"lng":-73.96913409233093}],"distance":71,"postalCode":"10024","cc":"US","city":"New
        York","state":"NY","country":"United States","formattedAddress":["Central
        Park W (at W 86th St)","New York, NY 100[...]
