<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>

<body class="body-member bg-gray-100 font-sans bg-dark-800 text-gray-100">
  <main class="mx-auto sm:w-full sm:max-w-full">
    <div class="m-auto md:w-192">
      <%= render 'layouts/member/navbar' %>
      <%= render 'layouts/alert' %>
      <div class="mx-auto p-6 md:pr-0 md:pl-0">
        <div class="m-auto w-full md:w-168">
          <%= yield %>
        </div>
      </div>
    </div>
  </main>
</body>
</html>